.transaction {
    text-align: center;
    padding: 80px 0;
    &-title {
      width: 75%;
      border-bottom: solid #0094AB 5px;
      margin:auto;
      text-align: left;
      color: #01BFDE;
      font-weight: 700;
      margin: 20px 12%;
      padding-bottom: 10px;
    }
    &-table {
        border: 2px solid #0094AB;
        width: auto;
        margin: 20px 12%;
        border-radius: 12px;
        display: block;
        padding: 16px;
        box-shadow: 0px 3px 5px 5px rgba(100, 100, 100, 0.2);
        &-row{
            display: flex;
            &-key{
                width: 30%;
            }
        }
    }
}