@import "../../Responsive.scss";
.header{
    margin: 56px 0px 0px;
    width: 100%;
    height: 506px;
    position: relative;
}
.hero-image {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
    object-fit: cover;
}

.funding{
    height: 100%;
    margin: 0px auto;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    color: white;
    &-card{
        width: 600px;
        padding: 24px 40px;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        border-radius: 8px;
        position: relative;
        z-index: 100;
        transform: translate3d(0px, 0px, 0px);
    }
    &-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-title{
        margin: 0px 0px 16px;
        color: rgb(255, 255, 255);
    }
    &-status{
    }
    &-button{
        margin-top: 16px;
        width: 250px;
        height: 60px;
        background: #01BFDE;
        color: white;
        border-radius: 4px;
        outline: none;
        border: none;
        cursor: pointer;
    }
    &-p{
      display: inline-block;
    }
    &-money{
      margin-top: 16px;
    }
}

.history-donation {
  &-header {
  }
  &-title {
    margin: 30px 20px;
    font-size: 30px;
    @include mobile {
      font-size: 20px;
    }
  }
}

.donate{
    &-button{
        margin-top: 12px;
        width: 250px;
        height: 60px;
        background: #01BFDE;
        border-radius: 4px;
        color: white;
        outline: none;
        border: none;
        cursor: pointer;
    }
}

.bar{
  &-wrapper {
    text-align: center;
  }
  
  &-container {
    background-color: tomato;
  }
  
  &-barCompleted {
    background-color: #01BFDE;
    width: 80%;
  }
  
  &-label {
    font-size: 20px;
    color: white;
  }
}

th {
  text-align: center;
  color: tomato;
}
td {
  text-align: center;
}

.transaction{
  text-decoration: underline;
}


